@import url('https://fonts.googleapis.com/css2?family=Goldman&display=swap');


* {
        box-sizing: border-box;


}


body {
        background-color: rgb(167, 142, 142);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        margin: 0;  
}

.conatiner {
        background-color: white;
        border-radius: 5px;
        box-shadow: 0 2px 10px rgb(0, 0, 0.4);
        width: 450px;
}

h2 {
        text-align: center;
        margin-bottom: 20px;
}

.form {
        padding: 30px 40px;
}

.form-control {
        margin-bottom: 10px;
        padding-bottom: 20px;
        position: relative;
}

.form-control label {
        color: gray;
        display: block;
        margin-bottom: 5px;
}

.form-control input {
        border: 2px solid lightgray;
        border-radius: 4px;
        display:block;
        width: 100%;
        padding: 10px;
        font-size: 14px;
}

.form-control input:focus {
        outline: 0;
        border-color: gray;
}

.form-control.success input {
        border-color: limegreen;
}

.form-control.error input {
        border-color: orangered;
}