:root{
    --primary-color: blue;
}

*{
    box-sizing: border-box;
}

body {
    background-color: off white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 20px;
}

h1{
    color: var(--primary-color);
    text-align: center;
}

p{
    color: black;
    text-align: center;
}

.btn {
    background-color: var(--primary-color);
    color: black;
    cursor: pointer;
    border-radius: 5px;
    font-size: 12px;
    padding: 10px 20px;
    border: 1px solid var(--primary-color);
    font-weight: bold;
}

.money-image {
    width: 150px;

}

.currency {
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.currency select {
    padding: 10px 20px;
    border: 1px solid lightgray;
    font-size: 16px;
}

.currency input {
    border: 0;
    background: transparent;
    color: black;
    font-size: 28px;
    text-align: right;
    width:100px;

}

.flip-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rate {
    color: var(--primary-color);
    font-size: 24px;
    padding: 0 10px;
}

select:focus,input:focus,button;:focus {
    outline: 0;
}

